img {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    /* Styles */
    section, main {
        padding-bottom: 75px;
    }

    h3 {
        text-align: center;
        padding-top: 50px;
    }

    .text-box {
        padding: 25px;
    }

    /* NavBar */
    .menu .menu-logo {
        margin-right: 10px;
    }

    /* Main */
    main img {
        height: 400px;
        width: 400px;
        margin-bottom: 50px;
    }

    main h1 {
        text-align: center;
    }

    main p {
        text-align: center;
    }

    main .btnDefault {
        margin: 40px auto;
    }

    /* Services */
    .responsive-align { /* Ele vai inventer as posições entre o texto e imagens para manter o padrão */
        flex-direction: column-reverse;
    }
}

/* Menu-mobile */

@media (max-width: 600px) {
  .menu-nav {
    margin-left: 275px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #fff;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    margin: 0 1rem;
  }

  #menu a::after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: #696969;
    margin: auto 15px;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}